[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
torch = "*"
torch-vision = "*"
pillow = "*"
matplotlib = "*"
torchvision = "*"
torchsummary = "*"
scikit-learn = "*"
gym = "*"
typing = "*"
nptyping = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.10"
